*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 1128px) {
    html {
      font-size: 58%; } }
  @media only screen and (max-width: 800px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 678px) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 425px) {
    html {
      font-size: 40%; } }

body {
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem !important;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6rem; }
  body .h1-font-size {
    font-size: 7.4rem;
    text-transform: uppercase; }
  body .h3-font-size {
    font-size: 4.8rem; }
  body .h4-font-size {
    font-size: 4.4rem; }
  body .h5-font-size {
    font-size: 2.4rem;
    text-transform: uppercase; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "futura-pt", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #00a8b6;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #00a8b6;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "futura-pt", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #00a8b5; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.article-container {
  display: grid;
  grid-template-rows: [header-start] min-content [header-end separator-one-start] 4rem [separator-one-end introduction-start] minmax(100vh, min-content) [introduction-end separator-two-start] 4rem [separator-two-end callout-one-start] 25rem [callout-one-end] repeat(7, [min-row-start] min-content [min-row-end]);
  grid-template-columns: [left-edge-start] 10rem [left-edge-end first-column-start] 20rem [narrow-column-start] 1fr [first-column-end second-column-start] 1fr [narrow-column-end] 20rem [second-column-end] 10rem [right-edge-end];
  row-gap: 3.5rem;
  font-family: "futura-pt", sans-serif;
  color: #000; }
  @media only screen and (max-width: 1128px) {
    .article-container {
      grid-template-columns: [left-edge-start] 5rem [left-edge-end first-column-start] 5rem [narrow-column-start] 1fr [first-column-end second-column-start] 1fr [narrow-column-end] 5rem [second-column-end] 5rem [right-edge-end]; } }
  @media only screen and (max-width: 800px) {
    .article-container {
      grid-template-columns: [left-edge-start] 1rem [left-edge-end first-column-start] 1rem [narrow-column-start] 1fr [first-column-end second-column-start] 1fr [narrow-column-end] 1rem [second-column-end] 1rem [right-edge-end]; } }
  @media only screen and (max-width: 678px) {
    .article-container {
      display: flex;
      flex-direction: column; } }
  .article-container .narrow-col {
    grid-column: narrow-column-start / narrow-column-end; }
  .article-container .narrow-col-edge {
    grid-column: narrow-column-start / right-edge-end; }
  .article-container .wide-col {
    grid-column: first-column-start / second-column-end; }
  .article-container .full-col {
    grid-column: left-edge-start / right-edge-end; }
  .article-container .edge-to-right {
    grid-column: left-edge-start / narrow-column-end; }
  .article-container .edge-to-left {
    grid-column: first-column-start / right-edge-end; }
  .article-container .edge-to-left-narrow {
    grid-column: narrow-column-start / right-edge-end; }
  .article-container .active-photo {
    filter: grayscale(0%); }
  .article-container .inactive-photo {
    filter: grayscale(100%); }
  .article-container .bar-separator {
    height: 2.0rem;
    background: rgba(0, 168, 182, 0.2); }
    .article-container .bar-separator.one {
      display: block; }
    .article-container .bar-separator.two {
      display: block;
      align-self: flex-end; }
  .article-container .video-cta {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: 0;
    grid-auto-columns: 0;
    align-items: center;
    width: 60%; }
    .article-container .video-cta__play-button {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(165, 0, 52, 0.8);
      height: 7.5rem;
      width: 7.5rem;
      border-radius: 50%;
      margin-left: -4.5rem;
      z-index: 5;
      cursor: pointer; }
      @media only screen and (max-width: 678px) {
        .article-container .video-cta__play-button {
          margin-left: 2.5rem; } }
    .article-container .video-cta i {
      color: white;
      padding-left: 5px; }
    .article-container .video-cta__text {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      font-size: 1.6rem;
      line-break: 2.4rem;
      color: #FFF;
      padding: 2.0rem 4.0rem;
      background: rgba(0, 168, 182, 0.8); }
      @media only screen and (max-width: 678px) {
        .article-container .video-cta__text {
          margin: 0 auto; } }
  .article-container .article-header {
    grid-row: header-start / header-end;
    display: flex;
    color: #a50034; }
    @media only screen and (max-width: 678px) {
      .article-container .article-header {
        display: flex;
        flex-direction: column; } }
    .article-container .article-header h1 {
      line-height: 6rem;
      font-weight: bold;
      font-family: "futura-pt", sans-serif; }
    .article-container .article-header span {
      color: #00a8b6;
      font-size: 4.4rem; }
      .article-container .article-header span:nth-child(1) {
        font-size: 6rem; }
      .article-container .article-header span:nth-child(3) {
        font-size: 16.6rem;
        color: #a50034;
        line-height: 12.0rem;
        padding-left: 4.5rem; }
    .article-container .article-header__subtitle {
      align-self: flex-end;
      width: 60%;
      font-size: 1.8rem;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 3rem;
      color: #474747;
      padding-left: 4.0rem; }
      @media only screen and (max-width: 678px) {
        .article-container .article-header__subtitle {
          align-self: flex-start;
          width: 100%;
          margin: 2.0rem 0; } }
  .article-container .article-introduction {
    grid-row: introduction-start / introduction-end;
    display: flex; }
    @media only screen and (max-width: 678px) {
      .article-container .article-introduction {
        flex-direction: column; } }
    .article-container .article-introduction__author {
      width: 100%; }
    .article-container .article-introduction__main-text {
      width: 40%;
      margin: auto 0 auto 3.0rem; }
      @media only screen and (max-width: 678px) {
        .article-container .article-introduction__main-text {
          margin: 3.0rem;
          width: 95%; } }
      @media only screen and (max-width: 678px) {
        .article-container .article-introduction__main-text {
          margin: 0;
          padding: 1.5rem; } }
    .article-container .article-introduction__byline {
      text-align: center;
      font-weight: bold; }
      .article-container .article-introduction__byline span {
        display: block;
        color: #00a8b6; }
    .article-container .article-introduction__combo-box {
      height: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 0;
      grid-auto-rows: 0; }
      @media only screen and (max-width: 678px) {
        .article-container .article-introduction__combo-box {
          min-height: 75vh; }
          .article-container .article-introduction__combo-box .video-cta {
            width: 100%;
            margin-bottom: 3rem; }
            .article-container .article-introduction__combo-box .video-cta__play-button {
              margin-left: 4.5rem; } }
      @media only screen and (max-width: 425px) {
        .article-container .article-introduction__combo-box .video-cta__play-button {
          margin-left: 2.5rem; } }
    .article-container .article-introduction__image {
      height: 100%;
      width: 100%;
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
      object-fit: cover; }
    .article-container .article-introduction__text {
      margin-top: 1rem; }
      .article-container .article-introduction__text:nth-child(2)::first-letter {
        color: #a50034;
        font-size: 7.2rem;
        font-weight: 700;
        margin-right: 1.5rem;
        float: left;
        line-height: 6rem; }
    .article-container .article-introduction .video-cta {
      grid-row: 2 / span 1;
      grid-column: 1 / span 2;
      justify-self: flex-end;
      align-self: flex-end; }
      .article-container .article-introduction .video-cta__text {
        width: 75%; }
        @media only screen and (max-width: 425px) {
          .article-container .article-introduction .video-cta__text {
            width: 65%; } }
  .article-container .callout {
    width: 40%;
    line-height: 3.6rem;
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: normal;
    text-align: center;
    margin: 0 auto; }
    .article-container .callout__quotes {
      color: #a50034;
      font-weight: bold;
      text-transform: none; }
    .article-container .callout__symbol {
      font-size: 3.2rem;
      color: #00a8b6;
      transform: rotate(135deg); }
    .article-container .callout.first-section {
      grid-row: callout-one-start / callout-one-end; }
    .article-container .callout.second-section {
      grid-row: min-row-start 6 / min-row-end 6;
      color: #00a8b6;
      margin: 5.0rem auto; }
      .article-container .callout.second-section p:nth-child(1) {
        transform: none; }
      .article-container .callout.second-section p:nth-child(2) {
        color: #a50034; }
  .article-container .article-continued {
    grid-row: min-row-start 1 / min-row-end 1; }
    .article-container .article-continued__text {
      column-count: 2; }
      @media only screen and (max-width: 678px) {
        .article-container .article-continued__text {
          column-count: 1;
          margin: 3.0rem; } }
      .article-container .article-continued__text p {
        margin-bottom: 2.0rem; }
    .article-container .article-continued.second-section {
      grid-row: min-row-start 3 / min-row-end 3; }
    .article-container .article-continued.third-section {
      grid-row: min-row-start 5 / min-row-end 5;
      min-height: 100vh;
      display: flex; }
      @media only screen and (max-width: 678px) {
        .article-container .article-continued.third-section {
          flex-direction: column; } }
      .article-container .article-continued.third-section .article-continued__main-text {
        width: 50%; }
        @media only screen and (max-width: 678px) {
          .article-container .article-continued.third-section .article-continued__main-text {
            width: 100%; } }
      .article-container .article-continued.third-section .article-introduction__combo-box {
        height: inherit;
        margin-left: 5.0rem; }
        @media only screen and (max-width: 678px) {
          .article-container .article-continued.third-section .article-introduction__combo-box {
            margin-left: 0;
            padding: 2.5rem 15rem; } }
        @media only screen and (max-width: 425px) {
          .article-container .article-continued.third-section .article-introduction__combo-box {
            margin-left: 0;
            padding: 2.5rem 2rem; } }
      .article-container .article-continued.third-section .article-introduction__image {
        min-height: 70vh; }
        @media only screen and (max-width: 678px) {
          .article-container .article-continued.third-section .article-introduction__image {
            margin-left: 0;
            height: 120vh; } }
      .article-container .article-continued.third-section .video-cta {
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
        justify-self: flex-end;
        align-self: flex-end;
        width: 65%;
        text-align: center;
        margin: 0 -2.0rem 2.0rem 0rem; }
        .article-container .article-continued.third-section .video-cta__text {
          padding: 4.0rem; }
        .article-container .article-continued.third-section .video-cta__play-button {
          margin-bottom: 1rem; }
        @media only screen and (max-width: 678px) {
          .article-container .article-continued.third-section .video-cta__play-button {
            margin-bottom: 0;
            margin-left: -0.5rem; } }
        @media only screen and (max-width: 425px) {
          .article-container .article-continued.third-section .video-cta {
            width: 70%; } }
      .article-container .article-continued.third-section .article-continued__text {
        column-count: 1; }
  .article-container .article-highlight {
    display: grid;
    grid-template-columns: [left-edge-start] 10rem [left-edge-end first-column-start] 20rem [narrow-column-start] 1fr [first-column-end second-column-start] 1fr [narrow-column-end] 20rem [second-column-end] 10rem [right-edge-end];
    color: #FFF; }
    @media only screen and (max-width: 1128px) {
      .article-container .article-highlight {
        grid-template-columns: [left-edge-start] 1rem [left-edge-end first-column-start] 1rem [narrow-column-start] 1fr [first-column-end second-column-start] 1fr [narrow-column-end] 1rem [second-column-end] 1rem [right-edge-end]; } }
    @media only screen and (max-width: 678px) {
      .article-container .article-highlight {
        display: block; } }
    .article-container .article-highlight-container {
      display: flex;
      justify-content: space-between;
      margin: 0 auto; }
      .article-container .article-highlight-container .h5-font-size {
        color: #FFF; }
      @media only screen and (max-width: 800px) {
        .article-container .article-highlight-container {
          flex-direction: column;
          margin: 0 2.5rem; } }
      .article-container .article-highlight-container.second-section {
        align-items: center; }
      .article-container .article-highlight-container.third-section {
        justify-content: flex-start;
        align-items: center; }
    .article-container .article-highlight__header {
      width: 40%;
      z-index: 5; }
      @media only screen and (max-width: 800px) {
        .article-container .article-highlight__header {
          width: 100%;
          margin-bottom: 5rem; } }
    .article-container .article-highlight__content {
      display: flex; }
    .article-container .article-highlight__title {
      font-weight: bold;
      line-height: 3.6rem; }
      .article-container .article-highlight__title span {
        color: #00a8b6;
        display: block;
        font-size: 4.8rem;
        font-weight: bold; }
    .article-container .article-highlight__descriptions {
      display: block; }
    .article-container .article-highlight__description {
      grid-row: description-row-begin / span 1;
      grid-column: first-image-begin / -1;
      display: none;
      height: 0;
      opacity: 0;
      transition: all 0.3s ease-in; }
      @media only screen and (max-width: 678px) {
        .article-container .article-highlight__description {
          grid-column: first-image-begin / third-image-end; } }
    .article-container .article-highlight__content {
      display: grid;
      grid-template-rows: [image-row-start] 18rem [image-row-end description-row-begin] min-content [description-row-end];
      grid-template-columns: [first-image-begin] 15rem [first-image-end second-image-begin] 15rem [second-image-end third-image-begin] 15rem [third-image-end];
      grid-row-gap: 2.5rem;
      grid-column-gap: 2.5rem;
      width: 50%;
      z-index: 5; }
      @media only screen and (max-width: 425px) {
        .article-container .article-highlight__content {
          grid-template-rows: [image-row-start] 14rem [image-row-end description-row-begin] min-content [description-row-end];
          grid-template-columns: [first-image-begin] 10rem [first-image-end second-image-begin] 10rem [second-image-end third-image-begin] 10rem [third-image-end]; } }
      @media only screen and (max-width: 800px) {
        .article-container .article-highlight__content {
          width: 100%;
          justify-content: space-between; } }
      .article-container .article-highlight__content span {
        display: block;
        position: relative; }
        .article-container .article-highlight__content span p {
          position: absolute;
          bottom: -3.5rem;
          right: 0;
          margin: 0;
          font-size: 4.8rem;
          font-weight: bold;
          color: #00a8b6; }
          @media only screen and (max-width: 678px) {
            .article-container .article-highlight__content span p {
              bottom: -2.5rem; } }
    .article-container .article-highlight__image {
      height: 18.0rem;
      width: 15.0rem;
      object-fit: cover; }
      @media only screen and (max-width: 425px) {
        .article-container .article-highlight__image {
          height: 14.0rem;
          width: 10.0rem; } }
    .article-container .article-highlight__images {
      display: flex; }
      .article-container .article-highlight__images-box {
        grid-row: image-row-start / image-row-end;
        cursor: pointer; }
        .article-container .article-highlight__images-box.one {
          grid-column: first-image-begin / span 1; }
        .article-container .article-highlight__images-box.two {
          grid-column: second-image-begin / span 1; }
        .article-container .article-highlight__images-box.three {
          grid-column: third-image-begin / span 1; }
    .article-container .article-highlight.first-section {
      grid-row: min-row-start 2 / min-row-end 2;
      min-height: 45vh;
      padding: 10rem 0;
      color: #FFF;
      background: #a50034; }
    .article-container .article-highlight.second-section {
      grid-row: min-row-start 4 / min-row-end 4;
      justify-content: space-around;
      width: 80%;
      min-height: 40vh;
      background: #00a8b6;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.4rem; }
      .article-container .article-highlight.second-section img {
        width: 22.0rem;
        height: 22.0rem;
        margin-right: 2.0rem; }
      .article-container .article-highlight.second-section div {
        margin: 2.5rem 1rem; }
        .article-container .article-highlight.second-section div p:first-child {
          font-size: 2.4rem; }
      @media only screen and (max-width: 800px) {
        .article-container .article-highlight.second-section img {
          margin-bottom: 3.0rem; } }
      @media only screen and (max-width: 678px) {
        .article-container .article-highlight.second-section {
          width: 100%; }
          .article-container .article-highlight.second-section img {
            width: 25rem;
            height: 25rem;
            margin-right: 0; } }
    .article-container .article-highlight.third-section {
      grid-row: min-row-start 7 / min-row-end 7;
      background-color: #00a8b6;
      margin: 4.0rem 0;
      min-height: 3.0rem; }
      .article-container .article-highlight.third-section img {
        margin-right: 2.5rem; }
        .article-container .article-highlight.third-section img:nth-child(1) {
          height: 24.0rem;
          padding: 2.0rem 0; }
        .article-container .article-highlight.third-section img:nth-child(2) {
          height: 18rem;
          width: 21rem; }
      .article-container .article-highlight.third-section p {
        width: 30%; }
        .article-container .article-highlight.third-section p span {
          margin: 2rem 0;
          font-size: 2.4rem;
          display: block; }
        @media only screen and (max-width: 800px) {
          .article-container .article-highlight.third-section p {
            width: 100%;
            margin: 3rem 0; } }
  .article-container .slide-container {
    grid-row: min-row-start 7 / min-row-end 7;
    display: grid;
    grid-template-columns: [left-edge-start] 10rem [left-edge-end first-column-start] 20rem [narrow-column-start] 1fr [first-column-end second-column-start] 1fr [narrow-column-end] 20rem [second-column-end] 10rem [right-edge-end];
    min-height: 30rem;
    position: relative; }
    @media only screen and (max-width: 678px) {
      .article-container .slide-container {
        grid-template-columns: [left-edge-start] 1rem [left-edge-end first-column-start] 1rem [narrow-column-start] 1fr [first-column-end second-column-start] 1fr [narrow-column-end] 1rem [second-column-end] 1rem [right-edge-end]; } }
    @media only screen and (max-width: 678px) {
      .article-container .slide-container {
        display: flex;
        flex-direction: column; } }
  .article-container .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .article-container .modal-content {
    min-width: 70rem; }
    @media only screen and (max-width: 800px) {
      .article-container .modal-content {
        min-width: 5rem; } }
  @media only screen and (max-width: 800px) {
    .article-container .modal-body iframe {
      width: 400px !important;
      height: 200px !important; } }

.entry-header, .gridlove-share.gridlove-box.gridlove-sticky-share {
  display: none; }
