// COLOR VARIABLES
$color-primary: #00a8b6;
$color-primary-light: #00a8b5;

$color-secondary: #a50034;

$color-white: #FFF;
$color-black: #000;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
$color-grey-dark-3: rgb(71, 71, 71);


// FONT VARIABLES
$font-primary: 'futura-pt', sans-serif;
$font-display: 'futura-pt', sans-serif;
$font-bold: bold;
$font-book: 400;
$font-extra-bold: 700;

// FONT SIZES
$h1-size: 7.4rem;
$h3-size: 4.8rem;
$h4-size: 4.4rem;
$h5-size: 2.4rem;

//LINE HEIGHTS
$small-lineheight: 2.4rem;
$normal-lineheight: 3.0rem;
$large-lineheight: 3.6rem;


//GRID LAYOUTS
$full-display: [left-edge-start] 10rem [ left-edge-end first-column-start ] 20rem [ narrow-column-start ] 1fr [ first-column-end second-column-start ] 
                1fr [narrow-column-end] 20rem [ second-column-end ] 10rem [ right-edge-end ];



// RESPONSIVE BREAKPOINTS
$bp-largest: 1200px;   // 1200px
$bp-large: 1128px;   // 1000px
$bp-medium: 800px;    // 800px;
$bp-small: 678px;    // 600px;
$bp-mobile: 425px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    scroll-behavior: smooth;
    // @media only screen and (max-width: $bp-largest) {
    //     font-size: 50%;
    // }

    @media only screen and (max-width: $bp-large) {
      font-size: 58%;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 50%;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 45%;
    }

    @media only screen and (max-width: $bp-mobile) {
      font-size: 40%;
    }
}

body {
    font-family: $font-primary;
    font-size: 1.6rem !important;
    .h1-font-size {
      font-size: $h1-size;
      text-transform: uppercase;
    }
    .h3-font-size {
      font-size: $h3-size;
    }
    .h4-font-size {
      font-size: $h4-size;
    }
    .h5-font-size {
      font-size: $h5-size;
      text-transform: uppercase;
    }
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6rem;
}