.article-container {
  display: flex;
  flex-direction: column;

  font-family: $font-primary;
  color: $color-black;

  .hero-image {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 75vh;
    background-color: black;
    overflow: hidden;
    color: white;
    font-size: 1em;
    margin-bottom: 2em;

    img {
      object-fit: cover;
      height: 100%;
      width: 50%;
      transform: scale(1.5) translateY(-6%);
      clip-path: inset(20% 25% 0% 30%);
    }

    &__title {
      width: 50%;
      margin: auto;

      &-main {
        text-transform: uppercase;
        font-size: 42px;
        margin: .5em 0;

        span { color: red;}
      }

      &-sub { margin: 0 0 1.5em 0; }

      &-author {
        span { padding: 0 0 1.5em 0; }
      }
    }
  }

  .image-callout {
    img {
      object-fit: cover;
      height: 12%;
      width: 30%;
    }
  }

  .article-content-main {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 0 20em;

    p { font-size: 1.6em; }

    .article__text {

      &-subheading {
        margin: 1.5em 0;
        color: red;
        text-align: center;
        font-size: 2.8em;
        text-transform: uppercase;
      }

      &-main {
        column-count: 2;
        column-gap: 5em;
      }
    }


    .article-section {

      &.quote-callout {
        display: grid;
        column-gap: 5em;
        grid-template-rows: .5fr 1fr repeat(3, .5fr);
        grid-template-columns: repeat(2, 1fr);

        .quote { 
          grid-column: 1 / span 2; 
          grid-row: 2 / span 1;
          justify-self: center;
          align-self: center;
          font-size: 3.2em;
        }
        p:nth-child(1), p:nth-child(3), p:nth-child(4), p:nth-child(5) { grid-column: 1 / span 1;}
        p:nth-child(6), p:nth-child(7), p:nth-child(8), p:nth-child(9) { grid-column: 2 / span 1;}
        p:nth-child(1) { grid-row: 1 / span 1}
        p:nth-child(3) { grid-row: 3 / span 1}
        p:nth-child(4) { grid-row: 4 / span 1}
        p:nth-child(5) { grid-row: 5 / span 1}
        p:nth-child(6) { grid-row: 1 / span 1}
        p:nth-child(7) { grid-row: 3 / span 1}
        p:nth-child(8) { grid-row: 4 / span 1}    
        p:nth-child(9) { grid-row: 5 / span 1}
      }
    }

    .image-callout {
      display: flex;
      margin: 3em 0;

      &__img {
        height: auto;
        width: 25%;
        margin-right: 3em;
      }

      &__text {
        align-self: center;
        font-size: 1.3em;
        color: red;

        p:first-child {
          
          &:before {
            content: "|";

            margin-right: 1em;
          }
        }
        p:last-child {
          margin-left: 2em;
        }

      }
    }
  }


  .article-content-end {
    display: flex;
    flex-direction: column;

    .protest-img {
      width: 100%;
      margin: 3em auto;
      max-height: 55vh;
      overflow: hidden;
      text-align: center;

      img { transform: translateY(-15%); }
    }

    .image-callout {
      display: flex;
      width: 75%;
      margin: 3em auto;

      img { margin-right: 3em; }

      &__text {
        align-self: center;
        font-size: 1.3em;
        color: red;
      }


      p:first-child {
        
        &:before {
          content: "|";

          margin-right: 1em;
        }
      }
    }

    .text-callout {
      width: 80%;
      align-self: center;
      background-color: lightgray;
      padding: 5em 10em;

      h3 {
        margin: .5em 0;
        font-size: 3.2em;
        text-align: center;
        text-transform: uppercase;
      }

      &__text {
        columns: 2;
      }
    }
  }
}

.entry-header, .gridlove-share.gridlove-box.gridlove-sticky-share {
  display: none;
}